<ul>
    <li class="control">Jace Beleren</li>
    <li class="control">Sorin Markov</li>
    <li class="control">Liliana Vess</li>
    <li class="aggro">Chandra Nalar</li>
    <li class="aggro">Garruk</li>
</ul>