<ul>
    <li class="control">Nicol Bolas</li>
    <li class="control">Ugin, The spirit dragon</li>
    <li class="control">Tibalt</li>
    <li class="aggro">Ajani</li>
    <li class="aggro">Elsphet</li>
</ul>