<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <label for="userName">Username:</label>
          <input placeholder="Username" id="userName" type="text" class="validate">
        </div>
        <div class="input-field col s6">
          <label for="passWord">Password:</label>
          <input placeholder="Password" id="passWord" type="text" class="validate">
        </div>
      </div>
    </form>
</div>