<div class="container row">
    <div class="jumbotron col-sm-4 pull-center">
        <form action="/signup" method="post">
            <div>
                <label>Title:</label>
                <input id="ttl" type="text" name="title"/>
            </div>
            <div>
                <label>Author:</label>
                <input id="authr" type="text" name="author"/>
            </div>    
            <div>
                <label>Comments:</label>
                <input id="comnts" type="text" name="comments"/>
            </div>
            <div>
                <input id="addBtn" class="btn btn-primary" type="submit" value="Add book!"/>
            </div>
        </form>                  
    </div>          
</div>