<div class="container row">
            <div class="jumbotron col-sm-4 pull-center">
                <form class="form login-form">
                    <div class="form-group">
                        <label>Email:</label>
                        <input type="text" id="email-login" name="email"/>
                    </div>
                    <div>
                        <label>Password:</label>
                        <input type="password" id="password-login" name="password"/>
                    </div>
                    <div>
                        <input class="btn btn-primary" type="submit" value="Log In"/>
                    </div>
                    <a href="/signup">Sign up!</a>
                </form>                  
            </div>          
        </div>
<script src="/js/login.js"></script>