<link rel="stylesheet" type="text/css" href="/css/style.css">

<div class="container">
            <div class="jumbotron">
                <form class="login-form signupForm">
                    <h1 class="formHeading">Log In!</h1>
                    <div>
                        <input id="email-login" type="text" placeholder="E-mail" name="email" />
                    </div>
                    <div>
                        <input id="password-login" type="password" placeholder="Password" name="password" />
                    </div>
                    <div>
                        <input id="signupbtn" class="btn btn-primary button" type="button" value="Log In"/>
                    </div>
                <a id="member" class="signup2" href="/signup">Sign up!</a>
                </form>                  
            </div>          
        </div>
        
        <script src="./js/login.js"></script>