<h1>Book it!</h1>

<h2>Sign up!</h2>
{{> signUp}}

<h2>Login</h2>
{{> login}}

<h2>List of Books available.</h2>
{{#if listExist}}
<ul>
    {{#each suggestedCards}}
    <li> {{this.author}}, {{this.name}}</li>
    {{/each}}
</ul>
{{/if}}