<h1>Sing up!</h1>
{{> signUp}}

<h1>Login</h1>
{{> login}}

<h1>List of available Books.</h1>
{{#if listExist}}
<ul>
    {{#each suggestedCards}}
    <li>{{this.type}}{{this.name}}</li>
    {{/each}}
</ul>
{{/if}}