<link rel="stylesheet" type="text/css" href="/css/style.css" />

<div class="container">
  <div class="jumbotron">
    <h1 class="title">My Library</h1>
    <form class="signupForm" id="signin" name="signin">
      <div>
        <input id="inputTitle" type="text" placeholder="Title" name="title" />
      </div>
      <div id="author">
        <input
          id="inputAuthor"
          id="email-signup"
          type="text"
          placeholder="Author"
          name="author"
        />
      </div>
      <div id="comment">
        <input
          id="inputComment"
          type="text"
          placeholder="Comment"
          name="comment"
        />
      </div>
      <div id="button">
        <input
          id="addBtn"
          class="btn btn-primary button"
          type="button"
          value="Sign Up"
        />
      </div>
    </form>
  </div>
</div>

<div>
  {{#if length}}
    <div class="col-md-6 project-list">
      {{#each library as |book|}}
        <div class="row mb-2">
          <div id="addBook" class="col-md-8">
            <h4>{{book.title}}</h4>
            <p>{{book.author}}</p>
            <p>{{book.comment}}</p>
          </div>
          <div class="col-md-4">
            <button
              id="dltBtn"
              class="btn btn-sm btn-danger"
              data-id="{{book.id}}"
            >DELETE</button>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>