{{!-- <div class="row col ">
  <div class="col s7">
    <img src="/images/books.jpg" alt="Bookshelf" />
  </div>
  <div id="signup" class="col s5">
    <form action="/signup" method="post">
      <div>
        <input placeholder="Username" name="username"/>
      </div>
      <div>
        <input placeholder="E-mail" name="email"/>
      </div>
      <div>
        <input placeholder="Password" name="password"/>
      </div>
      <div>
        <input class="btn btn-primary" type="submit" value="Sign Up" />
      </div>
    </form>
  </div>  --}}



  <div class = "container">
    <div class="jumbotron">
      <h1 class ="title">Welcome to Book It!</h1>
	 <form class ="signupForm" id="signin" name="signin" method="post" action="signin">
		<h3 class="formHeading">Sign Up</h2>
         <div>
        <input placeholder="Username" name="username"/>
      </div>
      <div>
        <input placeholder="E-mail" name="email"/>
      </div>
      <div>
        <input placeholder="Password" name="password"/>
      </div>
      <div>
        <input id="btn" class="btn btn-primary" type="submit" value="Sign Up" />
      </div>
      <div>
        <input id="btn2" class="btn btn-primary" type="submit" value="Login" />
      </div>
      {{!-- <div>
          <a id="login" href="/">Login</a>
      </div> --}}
    </form>
  </div>
</div>