 <link rel="stylesheet" type="text/css" href="/css/style.css" />

<div class = "container">
    <div class="jumbotron">
      <h1 class ="title">Welcome to Book It!</h1>
	 <form class ="signupForm" id="signin" name="signin">
		<h3 class="formHeading">Sign Up</h2>
      <div>
        <input id="name-signup" type="text" placeholder="Username" name="username"/>
      </div>
      <div>
        <input id="email-signup" type="text" placeholder="E-mail" name="email"/>
      </div>
      <div>
        <input id="password-signup" type="text" placeholder="Password" name="password"/>
      </div>
      <div>
        <input class="btn btn-primary button" type="button" value="Sign Up" />
      </div>
    <a id="member" href="/">Already a Member?</a>
    </form>
  </div>
</div>

    
<script src="./js/signup.js"></script>
